body {
    padding-top: 60px;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}


footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: var(--light-gray);
}
footer a {
    color: #555;

}
footer a:hover {
    color: #222;
}
footer small {
    float: left;
}
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
}

header {
    margin-top: 0;
    background: #222222;
}

header nav ul li a {
    color: white;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

/* sidebar */
aside section {
    padding: 10px 0;
    margin-top: 20px;
}

aside section.user_info {
    margin-top: 20px;
}

aside section &:first-child {
    border: 0;
    padding-top: 0;
}

aside section span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}
aside section h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.gravatar {
    float: left;
    margin-right: 10px;
}
.gravatar_edit {
    margin-top: 15px;
}

    /* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input {
    height: auto !important;
}

#error_explanation {
    color: red;
}

#error_explanation ul {
    color: red;
    margin: 0 0 30px 0;
}
.field_with_errors .form-control {
    color: var(--state-danger-text-color);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    background-color: var(--light-gray);
}

.dropdown-menu.active {
    display: block;
    position: absolute;
}